.auth-container {
  width: 320px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: pointer;
}

.switch {
  cursor: pointer;
  color: blue;
  font-size: 14px;
}

.success {
  color: green;
}

.error {
  color: red;
}
