<div class="admin-container">
  
  <header class="admin-header">
    <h1>Admin Panel</h1>
  </header>

  <nav class="menu">
    <button 
      (click)="selectedTab='users'"
      [class.active]="selectedTab==='users'">
      Users
    </button>

    <button 
      (click)="selectedTab='support'"
      [class.active]="selectedTab==='support'">
      Support
    </button>

    <button 
      (click)="selectedTab='news'"
      [class.active]="selectedTab==='news'">
      Actualités
    </button>
    
    <button>Comptes</button>
  </nav>

  <main class="admin-content">

    <app-user-management *ngIf="selectedTab==='users'"></app-user-management>

    <app-admin-support *ngIf="selectedTab==='support'"></app-admin-support>

    <app-actualite-management *ngIf="selectedTab==='news'"></app-actualite-management>

  </main>

</div>